<ion-header>
  <ion-toolbar>
    <div class="cabecalho">
      <img
        src="../../assets/icon/logo-pref.png"
        alt="Brasão Prefeitura Cachoeirinha"
        class="logo"
      />
      <h1 class="titulo">App de Serviços</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="titulo-item">
    <ion-label class="titulo-lista">Selecione o tipo de serviço</ion-label>
  </ion-item>
  <ion-card *ngFor="let item of tipoServicos" class="ion-margin">
    <ion-card-header
      class="card-cabecalho"
      (click)="irPagSolicitacao(item.nome)"
    >
      <ion-card-subtitle>
        <ion-icon name="{{item.icone}}" size="large"></ion-icon>
      </ion-card-subtitle>
      <ion-card-title class="titulo-card">{{item.nome}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="descricao-card"
      >{{item.descricao}}</ion-card-content
    >
  </ion-card>
</ion-content>
