<ion-header>
  <ion-toolbar>
    <div class="cabecalho">
      <img src="../../assets/icon/logo-pref.png" alt="Brasão Prefeitura Cachoeirinha" class="logo">
      <h1 class="titulo">App de Serviços</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label class="titulo-lista">Selecione o tipo de serviço</ion-label>
    </ion-list-header>
    <ion-item class="ion-activatable">
      <ion-label (click)="irPagSolicitacao('Iluminação Pública')">Iluminação Pública</ion-label>
    </ion-item>
    <ion-item class="ion-activatable">
      <ion-label (click)="irPagSolicitacao('Ruas e Estradas')">Ruas e Estradas</ion-label>
    </ion-item>
    <ion-item class="ion-activatable">
      <ion-label (click)="irPagSolicitacao('Lixo e Limpeza Urbana')">Lixo e Limpeza Urbana</ion-label>
    </ion-item>
    <ion-item class="ion-activatable">
      <ion-label (click)="irPagSolicitacao('Passeio e Calçadas')">Passeio e Calçadas</ion-label>
    </ion-item>
    <ion-item class="ion-activatable">
      <ion-label (click)="irPagSolicitacao('Água e Esgoto')">Água e Esgoto</ion-label>
    </ion-item>
    <ion-item class="ion-activatable">
      <ion-label (click)="irPagSolicitacao('Sinalização Urbana')">Sinalização Urbana</ion-label>
    </ion-item>
    <ion-item class="ion-activatable">
      <ion-label (click)="irPagSolicitacao('Meio Ambiente')">Meio Ambiente</ion-label>
    </ion-item>
  </ion-list>
</ion-content>